<%- include('includes/head'); %>
<body>
    <%- include('includes/navbar'); %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 mx-auto align-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Book</h5>
              <form  action="/book/edit/<%= data.id %>" method="post" class="d-flex flex-column">
              <label for="fname">Book Name:</label>
              <input type="text" id="fname" name="bName" required value="<%= data.bookName %>">
              <label for="lname">Book Price:</label>
              <input type="number" id="lname" name="bPrice" required value="<%= data.bookPrice %>">
              <label for="lname">Book Author:</label>
              <input type="text" id="lname" name="bAuthor" required value="<%= data.bookAuthor %>">
              <label for="lname">Book Description:</label>
              <textarea type="text" id="lname" name="bDescription" required><%= data.bookDescription %></textarea>
              <label for="lname">Book Cover URL:</label>
              <input type="text" id="lname" name="bImg" required value="<%= data.bookImg %>"><br>
              <input type="hidden" name="bookID" id="bookID" value="<%= data.id %>">
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

      <%- include('includes/scripts'); %>
<%- include('includes/foot'); %>