<%- include('includes/head'); %>
    <%- include('includes/navbar'); %>

    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-9 col-md-12 col-sm-12">
              <div class="card">
                <div class="p-4 text-black d-flex justify-content-between" style="background-color: #f8f9fa;">
                    <div id="personalInfoDiv">
                        <h5><%= userData.username %></h5>
                        <% if (userData.id == session.user_id) { %>
                                <% if (userData.firstName && userData.lastName) { %>
                                <p><%= userData.firstName %> <%= userData.lastName %></p>
                                <% } else { %>
                                <a href="#" onclick="addName('<%= userData.id %>', '<%= userData.username %>')" id="addNameBtn">İsmini Ekle</a>
                                <% } %>
                        <% } else { %>
                            <% if (userData.firstName && userData.lastName) { %>
                                <p><%= userData.firstName %> <%= userData.lastName %> &nbsp;<a href="#" onclick="addName('<%= userData.id %>', '<%= userData.username %>')"><i class="bi bi-pencil-square"></i></a></p>
                            <% } else { %>
                                    <p></p>
                            <% } %>
                        <% } %>
                    </div>
                  <div class="d-flex text-center py-1">
                    <div>
                        <b><%= userBooks.length %></b>
                      <p class="small text-muted mb-0">Kitap</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5" id="aboutDiv">
                    <% if (userData.id == session.user_id) { %>
                        <% if (userData.about) { %>
                        <p class="lead fw-normal mb-1"><%= userData.about %></p>
                        <% } else { %>
                            <a href="#" onclick="addAbout('<%= userData.id %>', '<%= userData.username %>')" id="addAboutBtn">Hakkında Kısmı Ekle</a>
                        <% } %>
                    <% } else { %>
                      <% if (userData.about) { %>
                        <p class="lead fw-normal mb-1"><%= userData.about %> &nbsp;<a href="#" onclick="addAbout('<%= userData.id %>', '<%= userData.username %>')"><i class="bi bi-pencil-square"></i></a></p>
                        <% } else { %>
                        <p></p>
                        <% } %>
                    <% } %>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0">Yakın Zamanda Paylaşılan Kitaplar</p>
                    <p class="mb-0"><a href="/getBooks/<%= userData.username %>/<%= userData.id %>" class="text-muted">Hepsini Göster</a></p>
                  </div>
                  <div class="row">
                    <% if (userBooks.length > 0)  { %>
                      <% for (let i = 0; i < showcaseBooks.length; i++){ %>
                          <div class="col-6 col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch mb-5">
                              <div class="card w-100">
                                  <img src="<%= userBooks[i].bookImg %>" class="card-img-top w-100" alt="<%= userBooks[i].bookName %> Image" style="height: 200px;">
                                  <div class="card-body d-flex flex-column">
                                      <p class="card-title text-center"><b><%= userBooks[i].bookName %></b></p>
                                  <a href="/details/<%= userBooks[i].id %>" class="btn btn-primary mt-auto btn-sm">Kitabı İncele</a>
                                  </div>
                                  </div>
                          </div>
                      <% } %>
                    <% } else { %>
                      <% if (userData.id == session.user_id) { %>
                      <a href="#">Kitap Ekle</a>
                      <% } else { %>
                        <p></p>
                      <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <%- include('includes/scripts'); %>
    <%- include('includes/foot'); %>